h1 {
    font-size: xx-large;
    color: rgb(134, 71, 12);
    text-align: center;

}


body {
    background-color: #cfc0da;
}


p {
    font-size: x-large;
    text-align: center;
    color: rgb(110, 226, 43);
}



div {
    display: flex;
    justify-content: center;
    border-radius: 20%;
    
}
