h1 {
    font-size: xx-large;
    color: blueviolet;
    text-align: center;

}


body {
    background-color: antiquewhite;
}


p {
    font-size: x-large;
    text-align: center;
    color: blueviolet;
}

img {
    display: flex;
    justify-content: center;
}